<style type="text/css">

</style>

<h2>Dear <%= @user.full_name %>,</h2>
<h3>Welcome to Ketchup</h3>
<p>Connect, plan trips, and arrange meetups with your connections around the world.</p>
<br>
<p>Yours,</p>
<p>Fucking Asians</p>
