// Specific CSS for your home-page
.stripe {
  width: 100%;
  background-color: #0F1721;
  padding: 4.5rem;
}

.home-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.home-info > .info {
  color: white;
  padding: 3rem 0;
}

.stripe > h2 {
  text-align: center;
  font-family: 'Permanent Marker';
  color: white;
  font-size: 3rem;
}

h3, p {
  font-family: 'Overpass';
}

.info > i {
  font-size: 3rem;
  justify-content: center;
  padding: 1rem;
}

@media (max-width: 575.98px) {
  .banner {
    padding: 3rem 1.25rem;
  }
}

@media (max-width: 991.98px) {
  .home-info {
    grid-template-columns: 1fr;
  }
  .stripe {
    padding: 3rem;
  }
}
