.profile-container {
  text-align: center;
  margin-bottom: 2rem;
}

.profile-photo {
  height: 14rem;
  width: 14rem;
  margin-top: 3rem;
  border-radius: 50%;
  border: 1px solid #1f1a32;
  padding: 0.5rem;
  background: #292343;
  text-align: center;
}

.profile-photo-update-btn {
  margin-top: 0;
  margin-bottom: 2rem;
}

.profile-name {
  color: $ketchup;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  position: relative;
  a {
    position: absolute;
    top: 0.7rem;
    padding-left: 1rem;
    font-size: 1rem;
    opacity: 0.7;
  }
}

.profile-btn {
  display: flex;
  justify-content: space-around;
}

// .profile-infos i {
//   font-size: 1.25rem;
// }
