<style type="text/css">

</style>

<h2>Dear <%= @ketchup.trip.user.full_name %>,</h2>
<h3>Time to Ketchup with <%= @ketchup.user.full_name %></h3>
<%= link_to 'Check your Ketchup detail', ketchup_url(@ketchup), target: "_blank" %>
<br>
<p>Yours,</p>
<p>Fucking Asians</p>
