<div class="container">
  <div class="row">
    <div class="col-12">
      <% if @trips.any? %>
          <ul>
            <% @trips.each do |trip| %>
              <li><%= link_to "Your trip to #{trip.location}", trip_path(trip) %></li>
            <% end %>
          </ul>
        <% else %>
          <p>No trip yet</p>
        <% end %>
        <%= link_to 'Create new trip', '#' %>
    </div>
  </div>
</div>
