<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('banner') %>);">
  <div class="container">
    <h1>Ketchup with people on your next trip!</h1>
    <p>Don't miss out on your opportunity to meet people around the world.</p>
    <%= render 'trips/form' %>
  </div>
</div>
