<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1580893246395-52aead8960dc?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=1600);">
  <div class="container">
    <h1>Ketchup with people on business trip!</h1>
    <p>Don't miss out on your opportunity to meet people around the world.</p>
    <a class="btn btn-flat" href="#">Set up trip</a>
  </div>
</div>
