<!-- temporary background image for banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('banner') %>);">
  <div class="container">
    <h1>Travel, Meet & KetchUp</h1>
    <p>Connect, plan trips, and arrange meetups with your connections around the world.</p>
    <%= render 'trips/form' %>
  </div>
</div>
