<%= render 'shared/banner' %>
<div class="stripe">
  <h2>How KetchUp works</h2>
  <div class="home-info">
   <div class="info">
    <i class="fas fa-users"></i>
     <h3>Find, connect & chat</h3>
     <p>Import contacts & invite friends.</p>
   </div>
   <div class="info">
     <i class="fas fa-plane-departure"></i>
     <h3>Plan trips</h3>
     <p>Let your friends know when you're in town.</p>
   </div>
   <div class="info">
     <i class="far fa-calendar-check"></i>
     <h3>Organize a ketchup</h3>
     <p>Meet & catch up!</p>
   </div>
 </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-12">
      <div class="cards">
        <div class="card-vertical"> -->
          <!-- temporary img for cards and need to update infos -->
          <!--
          <img src="<%= image_path('trip') %>" />
          <div class="card-vertical-infos">
            <h2>Set up your next trip</h2>
            <p>Start setting your next trip with destination and dates!</p>
          </div>
        </div>
        <div class="card-vertical">
          <img src="<%= image_path('friends') %>" />
          <div class="card-vertical-infos">
            <h2>See your friends</h2>
            <p>Short description here!</p>
          </div>
        </div>
        <div class="card-vertical">
          <img src="<%= image_path('ketchup') %>" />
          <div class="card-vertical-infos">
            <h2>Let's ketchup!</h2>
            <p>Short description here!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
