<%= render 'shared/banner' %>
<div class="stripe">
  <h2>How KetchUp works</h2>
  <div class="home-info text-center">
   <div class="info">
    <i class="fas fa-users"></i>
     <h3>Find, connect & chat</h3>
     <p>Import contacts & invite friends.</p>
   </div>
   <div class="info">
     <i class="fas fa-plane-departure"></i>
     <h3>Plan trips</h3>
     <p>Let your friends know when you're in town.</p>
   </div>
   <div class="info">
     <i class="far fa-calendar-check"></i>
     <h3>Organize a ketchup</h3>
     <p>Meet & catch up!</p>
   </div>
 </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&libraries=places&callback=initMap" async defer></script>
<script>
  function initMap() {
    let input = document.getElementById('trip_location');
    let autocomplete = new google.maps.places.Autocomplete(input, {types: ['(cities)']});
    autocomplete.setFields(['geometry', 'name']);
    autocomplete.addListener('place_changed', fillInForm);
    function fillInForm() {
      let place = autocomplete.getPlace()

    if (!place.geometry) {
      // User entered the name of a Place that was not suggested and
      // pressed the Enter key, or the Place Details request failed.
      window.alert("No details available for input: '" + place.name + "'");
      return;
    }

    document.getElementById('trip_latitude').value = place.geometry.location.lat()
    document.getElementById('trip_longitude').value = place.geometry.location.lng()
    }
  }
  $(document).ready(function() {
    $('input[class="daterange form-control"]').daterangepicker({
      autoApply: true,
      startDate: <%= Date.today %>,
      endDate: <%= Date.today %>,
      opens: "center",
      locale: {
        format: 'DD MMM, YYYY'
      }
    });
  });
</script>

