<%= render 'shared/banner' %>
<div class="container">
  <div class="cards">
    <div class="card-vertical">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-vertical-infos">
        <h2>Set up your next trip</h2>
        <p>Start setting your next trip with destination and dates!</p>
      </div>
    </div>
    <div class="card-vertical">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-vertical-infos">
        <h2>See your friends</h2>
        <p>Short description here!</p>
      </div>
    </div>
    <div class="card-vertical">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-vertical-infos">
        <h2>Let's ketchup!</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div>
</div>
