<style type="text/css">

</style>

<h2>Dear <%= @contact.first_name %> <%= @contact.last_name %>,</h2>
<h3><%= @contact.user.full_name %> is inviting you to amazing Ketchup</h3>
<p>Connect, plan trips, and arrange meetups with your connections around the world.</p>
<%= link_to 'Visit Ketchup', root_url, target: "_blank" %>
<br>
<p>Yours,</p>
<p>Fucking Asians</p>
