.btn-ghost {
  color: $ketchup;
  border: 1px solid $ketchup;
  background-color: $mayo;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  margin: 0.5rem 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.btn-ghost:hover {
  color: $ketchup;
  opacity: 0.6;
}

.btn-flat {
  color: $mayo;
  padding: 8px 24px;
  border-radius: 4px;
  background: $ketchup;
  transition: background 0.3s ease;
  margin: 0.5rem 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.btn-flat:hover {
  background: #961517;
  color: $mayo;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  margin: 0.5rem 0;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
