.responsiveCal {
  position: relative;
  height: 90vh;
  overflow: hidden;
  margin-bottom: 1rem;
}

.responsiveCal iframe {
  position:
  absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
