.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
  margin: 32px auto;
  text-align: center;
}
.card-vertical {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-vertical > img {
  height: 320px;
  width: 100%;
  object-fit: fill;
}

.card-vertical h2 {
  font-weight: bold;
  margin: 0;
}

.card-vertical p {
  color: $olive;
  opacity: .7;
  margin: 0;
}

.card-vertical .card-vertical-infos {
  padding: 16px;
}

// .card-trip-infos .card-trip-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }

.cards-friends {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 32px;
  margin: 32px auto;
}

.card-vertical-friend {
  position: relative;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.card-vertical-friend > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-vertical-friend h3 {
  font-weight: bold;
  color: $ketchup;
  margin: 16px 0 32px;
}

.card-vertical-friend p {
  color: $olive;
  opacity: .7;
  margin: 16px 0;
}

.card-vertical-friend .card-vertical-friend-infos {
  padding: 16px;
}

.card-vertical-friend .card-vertical-friend-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.card-vertical-friend .card-vertical-friend-btn .btn-ghost {
  width: 100%;
  border-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.cards-trips {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
  margin: 32px auto;
}

.card-vertical-trip {
  position: relative;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 30px;
}

.card-vertical-trip > a > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-vertical-trip h4 {
  color: $ketchup;
  margin: 8px 0;
}

.card-vertical-trip p {
  color: $olive;
  opacity: .7;
  margin: 8px 0;
}

.card-vertical-trip .card-vertical-trip-infos {
  padding: 16px;
}

.card-vertical-ketchup {
  position: relative;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-vertical-ketchup h1 {
  margin: 8px 0 16px;
}

.card-vertical-ketchup p {
  color: $olive;
  opacity: .7;
  margin: 8px 0;
}

.card-vertical-ketchup .card-vertical-ketchup-infos {
  padding: 16px;
}

.card-vertical-ketchup .card-vertical-ketchup-infos >.info {
  display: flex;
}

.card-vertical-ketchup .card-vertical-ketchup-infos >.info > .item {
  flex: 0 0 20%;
}

.card-vertical-ketchup .card-vertical-ketchup-infos >.info > .content {
  flex: 0 0 80%;
}
