.navbar-lewagon {
  justify-content: space-between;
  background: #961617;
  padding: 8px 28px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 130px;
}

.navbar-brand {
  font-weight: 700;
  font-size: 28px;
}
.nav-item {
  padding-right: 32px;
  font-size: 18px;
  color: white;
}

.nav-item > .avatar {
  width: 50px;
}

.navbar-light .navbar-nav .nav-link {
  color: $mayo;
}

.fa-bell {
  font-size: 25px;
  margin: 0px;
}
