.navbar-ketchup {
  justify-content: space-between;
  background: #961617;
  padding: 8px 28px;
}

.navbar-ketchup .navbar-collapse {
  flex-grow: 0;
}

.navbar-ketchup .navbar-brand img {
  width: 130px;
}

.navbar-brand {
  font-weight: 700;
  font-size: 28px;
}
.nav-item {
  padding-right: 32px;
  font-size: 18px;
  color: white;
}

.nav-item > .avatar {
  width: 50px;
}

.navbar-nav .nav-link {
  color: $mayo;
  &:hover {
    color: $mustard;
    opacity: 0.5;
  }
  &:active {
    color: $mustard;
    opacity: 0.5;
  }
}

.navbar-nav .show > .nav-link {
  color: $mustard;
  opacity: 0.5;
}

.navbar-nav .active > .nav-link {
  color: $mustard;
}

.fa-bell {
  font-size: 25px;
  margin: 0px;
}

.notification-drop {
  padding: 0;
}
.notification-drop a {
  color: $ketchup;
  opacity: 0.7;
  padding: 0.5rem 1.5rem;
  background: $mayo;
  &:hover {
    color: $ketchup;
    background: $mustard;
  }
}

.notification-drop .all {
  background: white;
}

.logo {
  color: #EDE5CC;
  font-weight:700;
  font-size: 2.25rem;
  font-family: Permanent Marker;
}
