.notifications {
  margin-top: 1rem;
}

.notification {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  background: $mayo;
  color: $ketchup;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(235,235,235);
  border-radius: 4px;
  justify-content: space-between;
}

.notification .notification-head {
 display: flex;
 align-items: center;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 1.5rem;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  opacity: 0.7;
  font-weight: bold;
}

.notification .notification-actions {
  opacity: 0.7;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: $ketchup;
  margin-left: 1rem;
  font-size: 1rem;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.notification .notification-actions a.btn-flat {
  color: $mayo !important;
}

.notification .notification-actions .btn-flat, .notification .notification-actions .btn-ghost {
  margin-left: 1rem;
  font-size: 0.825rem;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

@media screen and (max-width: 991.98px) {
  .notification {
    flex-wrap: wrap;
  }
  .notification .notification-actions {
    justify-content: center;
    width: 100%;
    display: none;
  }
  .notification:hover .notification-actions {
    display: flex;
    padding-top: 0.5rem;
  }
}
