table {
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

th {
  background: $ketchup;
  color: $mayo;
  opacity: 0.7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  // border: 1px solid $ketchup;
}
th p {
  margin: 8px;
}
td {
  // border: 1px solid $ketchup;
  padding: 0;
}
td p {
  margin: 6px 12px;
  color: $ketchup;
  font-weight: 700;
}

tr .active {
  background: $mayo;
}

.last-msg {
  opacity: 0.7;
  font-style: italic;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30ch;
}
