
// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "daterangepicker";

// Your CSS partials
@import "components/index";
@import "pages/index";

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: $ketchup;
  margin: 1.5rem 0;
}

h2 {
  font-size: 2rem;
  color: $ketchup;
}

h5 {
  color: $ketchup;
}

a {
  color: $ketchup;
  &:hover {
    text-decoration: none;
    color: $mustard;
  }
}

.form-group > label {
  color: $ketchup;
}

.unread {
  border-left: 3px solid red;
}

.container {
  min-height: calc(100vh - 4.375rem - 6.25rem)
}

.daterangepicker th {
  background: white !important;
  color: black !important;
}

div.pac-container {
    z-index: 99999999999 !important;
}

.cropper-container.cropper-bg {
  min-width: 100% !important;
  max-width: 100% !important;
}
